This task involves understanding the basic data
types in Python such as lists, dictionaries, and
sets .

 Write a Python program to create a list, a
dictionary, and a set. Perform basic operations
like adding, removing, and modifying
elements.

In [1]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_set = {1, 2, 3, 4}

In [2]:
print("Original List:", my_list)

Original List: [1, 2, 3, 4]

In [3]:
my_list.append(5)
print("After Adding 5:", my_list)

After Adding 5: [1, 2, 3, 4, 5]

In [4]:
my_list.remove(2)
print("After Removing 2:", my_list)

After Removing 2: [1, 3, 4, 5]

In [5]:
my_list[1] = 10
print("After Modifying the second element:", my_list)

After Modifying the second element: [1, 10, 4, 5]

In [6]:
print("\nOriginal Dictionary:", my_dict)

Original Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [7]:
my_dict['d'] = 4
print("After Adding {'d': 4}:", my_dict)

After Adding {'d': 4}: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
del my_dict['b']
print("After Removing key 'b':", my_dict)

After Removing key 'b': {'a': 1, 'c': 3, 'd': 4}

In [9]:
my_dict['a'] = 10
print("After Modifying 'a' to 10:", my_dict)

After Modifying 'a' to 10: {'a': 10, 'c': 3, 'd': 4}

In [10]:
print("\nOriginal Set:", my_set)

Original Set: {1, 2, 3, 4}

In [11]:
my_set.add(5)
print("After Adding 5:", my_set)

After Adding 5: {1, 2, 3, 4, 5}

In [12]:
my_set.discard(2)
print("After Removing 2:", my_set)

After Removing 2: {1, 3, 4, 5}

In [13]:
my_set.add(3)
print("After Adding duplicate 3:", my_set)

After Adding duplicate 3: {1, 3, 4, 5}